<%- include('partials/header'); -%>
            <form class="mx-auto" action="/register" method="post">
              <div class="mb-3">
                <input type="text" class="form-control" name="employeeName" placeholder="desired username" >
                <input type="password" class="form-control" name="pin" placeholder="desired pin">
              </div>
              <button
                type="submit"
                class="btn btn-md btn-primary w-100 mx-0 mb-2"
              >
                Submit
              </button>
                </form> 
         
        </div>
      </div>
    </div>
    <%- include('partials/footer'); -%>
